<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnirom.music.app" >

    <!-- Permission needed for EchoNest / MusicBrainz (album art, automix, etc). -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission needed to check whether or not the device is offline -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission needed for WebCasting/ChromeCasting -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Permission needed to cache data -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permission needed for recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Permission for Media Session notification and remote control -->
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!-- Audio playback wake lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Global effects session ID -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Drive Mode bypass lockscreen -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- Navigation Head (Drive Mode) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Bluetooth Automated Actions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- Main application declaration -->
    <application
        android:name=".OmniMusic"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowTaskReparenting="true"
        android:hardwareAccelerated="true"
        android:taskAffinity="org.omnirom.music.task"
        android:persistent="true"
        android:process=":main"
        android:theme="@style/AppTheme" >

        <!-- GMS for Chromecast -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Search info -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />

        <!-- Playback Service -->
        <service
            android:name="org.omnirom.music.service.PlaybackService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <!-- Notification Intent Service -->
        <service
            android:name="org.omnirom.music.service.NotifActionService"
            android:exported="false" />

        <!-- Navigation Head Service -->
        <service
            android:name="org.omnirom.music.service.NavHeadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Receiver for the media buttons -->
        <receiver android:name="org.omnirom.music.receivers.RemoteControlReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!-- Receiver for Bluetooth actions -->
        <receiver android:name="org.omnirom.music.receivers.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
            </intent-filter>
        </receiver>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity>

        <!-- Search Activity -->
        <activity
            android:name=".SearchActivity"
            android:label="@string/search_hint" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Artist Activity -->
        <activity
            android:name=".ArtistActivity"
            android:icon="@drawable/ic_launcher_white"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.ArtistDetails" >
        </activity>

        <!-- Playlist Activity -->
        <activity
            android:name=".PlaylistActivity"
            android:icon="@drawable/ic_launcher_white"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.ArtistDetails" >
        </activity>

        <!-- Album Activity -->
        <activity
            android:name=".AlbumActivity"
            android:icon="@drawable/ic_launcher_white"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.AlbumDetails" >
        </activity>

        <!-- Now Playing Activity -->
        <activity
            android:name=".PlaybackQueueActivity"
            android:icon="@drawable/ic_launcher_white"
            android:label="@string/title_activity_playback_queue" >
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:icon="@drawable/ic_launcher_white"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" >
        </activity>

        <!-- Automix Creation Activity -->
        <activity
            android:name=".AutomixCreateActivity"
            android:label="@string/title_activity_automix_create_static"
            android:launchMode="singleTask" >
        </activity>

        <!-- Drive Mode Activity -->
        <activity
            android:name=".DriveModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:label="@string/title_activity_drive_mode"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/OmniMusic.FullscreenTheme" >
        </activity>

    </application>

</manifest>
