<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.fastbootmobile.encore.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- Needed to allow Gradle builds with minSdkVersion 16 without multiple APKs -->
    <uses-sdk tools:overrideLibrary="android.support.v17.leanback"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>

    <!-- Permission needed for EchoNest / MusicBrainz (album art, automix, etc). -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permission needed to check whether or not the device is offline -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permission needed for WebCasting/ChromeCasting -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Permission needed to cache data -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Permission needed for recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Permission for Media Session notification and remote control -->
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <!-- Audio playback wake lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Global effects session ID -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- Drive Mode bypass lockscreen -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <!-- Navigation Head (Drive Mode) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- Bluetooth Automated Actions -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!-- Plugins permissions -->
    <permission android:name="com.fastbootmobile.encore.PROVIDER" android:protectionLevel="normal" />

    <uses-permission android:name="com.fastbootmobile.encore.PROVIDER"/>

    <!-- Main application declaration -->
    <application
        android:name="com.fastbootmobile.encore.app.OmniMusic"
        android:allowTaskReparenting="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:process=":main"
        android:supportsRtl="true"
        android:taskAffinity="com.fastbootmobile.encore.task"
        android:theme="@style/AppTheme">

        <!-- GMS for Chromecast -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- Search info -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity"/>

        <!-- Playback Service -->
        <service
            android:name="com.fastbootmobile.encore.service.PlaybackService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"/>

        <!-- Notification Intent Service -->
        <service
            android:name="com.fastbootmobile.encore.service.NotifActionService"
            android:exported="false"/>

        <!-- Navigation Head Service -->
        <service
            android:name="com.fastbootmobile.encore.service.NavHeadService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!-- Local Provider Service -->
        <service
            android:name="com.fastbootmobile.encore.providers.localprovider.PluginService"
            android:exported="true"
            android:permission="com.fastbootmobile.encore.PROVIDER"
            android:process=":localprovider">
            <intent-filter>
                <action android:name="com.fastbootmobile.encore.action.PICK_PROVIDER"/>
            </intent-filter>

            <meta-data
                android:name="com.fastbootmobile.encore.metadata.PROVIDER_NAME"
                android:value="@string/local_provider_name"/>

            <meta-data
                android:name="com.fastbootmobile.encore.metadata.PROVIDER_AUTHOR"
                android:value="Fastboot Mobile, LLC"/>
        </service>

        <!-- Bass Boost Plugin -->
        <service
            android:name="com.fastbootmobile.encore.providers.bassboost.PluginService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.fastbootmobile.encore.PROVIDER"
            android:process=":bassboost">
            <intent-filter>
                <action android:name="com.fastbootmobile.encore.action.PICK_DSP_PROVIDER"/>
            </intent-filter>

            <meta-data
                android:name="com.fastbootmobile.encore.metadata.PROVIDER_NAME"
                android:value="Bass Boost"/>
            <meta-data
                android:name="com.fastbootmobile.encore.metadata.PROVIDER_AUTHOR"
                android:value="Fastboot Mobile, LLC"/>

            <meta-data
                android:name="com.fastbootmobile.encore.metadata.CONFIG_CLASS"
                android:value="com.fastbootmobile.encore.providers.bassboost.SettingsActivity"/>
        </service>

        <!-- Receiver for the media buttons -->
        <receiver android:name="com.fastbootmobile.encore.receivers.RemoteControlReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <!-- Receiver for Bluetooth actions -->
        <receiver android:name="com.fastbootmobile.encore.receivers.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <!-- Search suggestions and history -->
        <provider
            android:name="com.fastbootmobile.encore.providers.SearchSuggestionProvider"
            android:authorities="com.fastbootmobile.encore.providers.SearchSuggestionProvider"
            android:exported="false"/>

        <!-- Main Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.MainActivity"
            android:theme="@style/AppTheme.TransparentNavBar.ArtistDetails"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
        </activity>

        <!-- Search Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.SearchActivity"
            android:label="@string/search_hint">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <!-- Artist Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.ArtistActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.ArtistDetails">
        </activity>

        <!-- Playlist Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.PlaylistActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.ArtistDetails">
        </activity>

        <!-- Album Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.AlbumActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.AlbumDetails">
        </activity>

        <!-- Now Playing Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.PlaybackQueueActivity"
            android:label="@string/title_activity_playback_queue">
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask">
        </activity>

        <!-- Automix Creation Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.AutomixCreateActivity"
            android:label="@string/title_activity_automix_create_static"
            android:launchMode="singleTask">
        </activity>

        <!-- Drive Mode Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.DriveModeActivity"
            android:label="@string/title_activity_drive_mode"
            android:launchMode="singleTask"
            android:theme="@style/OmniMusic.FullscreenTheme">
        </activity>

        <!-- Welcome Wizard Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.WelcomeActivity"
            android:label="@string/title_activity_welcome">
        </activity>

        <!-- Drive Mode Tutorial Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.DriveTutorialActivity"
            android:label="@string/title_activity_drive_mode">
        </activity>

        <!-- Bass Boost Plugin Settings Activity -->
        <activity
            android:name="com.fastbootmobile.encore.providers.bassboost.SettingsActivity"
            android:label="@string/sound_effects"
            android:process=":bassboost">
        </activity>

        <!-- Bass Boost Plugin TV Settings Activity -->
        <activity
            android:name="com.fastbootmobile.encore.providers.bassboost.LeanbackSettingsActivity"
            android:label="@string/sound_effects"
            android:theme="@style/Theme.OmniMusic.Leanback"
            android:process=":bassboost">
        </activity>

        <!-- TV Leanback Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.tv.TvActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.OmniMusic.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- TV Search Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.tv.TvSearchActivity"
            android:theme="@style/Theme.OmniMusic.Leanback">
        </activity>

        <!-- TV Album Details Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.tv.TvAlbumDetailsActivity"
            android:theme="@style/Theme.OmniMusic.Leanback">
        </activity>

        <!-- TV Artist Details Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.tv.TvArtistDetailsActivity"
            android:theme="@style/Theme.OmniMusic.Leanback">
        </activity>

        <!-- TV Playlist Details Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.tv.TvPlaylistDetailsActivity"
            android:theme="@style/Theme.OmniMusic.Leanback">
        </activity>

        <!-- TV Albums/Artist Grid Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.tv.TvEntityGridActivity"
            android:theme="@style/Theme.OmniMusic.Leanback">
        </activity>

        <!-- TV Providers Activity -->
        <activity
            android:name="com.fastbootmobile.encore.app.tv.TvProvidersActivity"
            android:theme="@style/Theme.OmniMusic.Leanback">
        </activity>
    </application>

</manifest>
