<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnirom.music.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".OmniMusic"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.omnirom.music.service.PlaybackService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".ArtistActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.ArtistDetails" >
        </activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.TransparentNavBar.ArtistDetails" >
        </activity>
        <activity
            android:name=".PlaybackQueueActivity"
            android:label="@string/title_activity_playback_queue" >
        </activity>
    </application>

</manifest>
